.flatpickr-input{
    padding-left: 16px;
    font-family: "Montserrat",
        sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #2e2f42;
    margin-top: 35px;
    border-radius: 4px;
        width: 272px;
        height: 36px;
        outline: 0px;
        border: 1px solid #808080;
}
.flatpickr-input:disabled {
    border-color: #cfcfcf;
}

.flatpickr-input:disabled:hover {
    border-color: #cfcfcf;

}

.flatpickr-input:hover {
    border-color: #6c8cff;
}
button{
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
    border-radius: 8px;
        padding: 8px 16px;
        width: 75px;
        height: 40px;
background: #4e75ff;
border: none;
}
button:disabled{
    background: #cfcfcf;
}
button:disabled:hover {
    background: #cfcfcf;

}
button:hover{
    background: #6c8cff;
}
.timer{
    width: 346px;
        height: 72px;
    display: flex;
    gap: 24px;
    margin-top: 40px;
    justify-content: space-evenly;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.value{
    font-family: "Montserrat",
        sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.label{
    font-family: "Montserrat",
        sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2e2f42;
}